@import 'styles/shared.sass'

.HoursResults
  height: calc(100% - 60px)
  width: 100%
  animation-name: fade-in
  animation-timing-function: ease-in
  animation-duration: 0.5s
  align-items: stretch
  background: linear-gradient(141deg, $blue 50%, $light-green 60%)
  box-sizing: border-box
  display: flex
  flex-direction: column
  +from($breakpoint-tablet)
    flex-direction: row
    flex-wrap: wrap

.HoursResults__tile
  box-sizing: border-box
  height: 50%
  width: 100%
  +from($breakpoint-tablet)
    width: 50%

.HoursResults__tile-fade-from-left,
.HoursResults__tile-fade-from-right
  transition: opacity 500ms linear, transform 500ms linear

.HoursResults__tile-fade-from-left--is-not-faded-in,
.HoursResults__tile-fade-from-right--is-not-faded-in
  opacity: 0

.HoursResults__tile-fade-from-left--is-not-faded-in
  transform: translateX(-100%)

.HoursResults__tile-fade-from-right--is-not-faded-in
  transform: translateX(100%)

.HoursResults__tile-fade-from-left--is-faded-in,
.HoursResults__tile-fade-from-right--is-faded-in
  opacity: 1
  transform: translateX(0)

.HoursResults__text-tile
  align-items: center
  display: flex
  justify-content: center
  padding: 2em

.HoursResults__card
  align-items: center
  background-color: rgba(255, 255, 255, 0.65)
  box-shadow: 2px 2px 20px -2px lightgray
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center
  width: 100%

.HoursResults__headline
  animation-duration: 2s
  animation-name: fade-up-and-in
  animation-timing-function: ease-out
  font-size: 1.5em
  margin-bottom: 0.5em
  text-align: center
  +from($breakpoint-tablet)
    font-size: 2em
    margin-bottom: 0

.HoursResults__headline--slow-fade-in
  animation-duration: 3s
  animation-name: fade-up-and-in
  animation-timing-function: ease-out

.HoursResults__headline-hour-number
  color: $pink
  font-weight: bold

.HoursResults__subheadline
  animation-duration: 3s
  animation-name: fade-up-and-in
  animation-timing-function: ease-out
  text-align: center
  +from($breakpoint-tablet)
    display: none

.HoursResults__tile--hidden-on-mobile
  display: none
  +from($breakpoint-tablet)
    display: flex

.HoursResults__image
  box-sizing: border-box
  height: 100%
  width: 100%
  object-fit: cover
