@import 'styles/shared.sass'

@keyframes SplashScreen__clock-logo-spin
  0%
    transform: scale(0) rotate(0)
  90%
    transform: scale(1.2) rotate(360deg)
  100%
    transform: scale(1) rotate(360deg)

.SplashScreen
  align-items: center
  background-color: $pink
  box-sizing: border-box
  color: white
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: center
  padding: 20px
  position: fixed
  top: 0
  left: 0
  transition: opacity 0.4s ease-in
  width: 100%

.SplashScreen--faded-out
  opacity: 0

.SplashScreen--hidden
  z-index: -500
  display: none

.SplashScreen__clock-logo
  animation: 0.8s linear 0s SplashScreen__clock-logo-spin
  margin-bottom: 3em
  width: 150px
  path
    fill: white

.SplashScreen__headline-first-half,
.SplashScreen__headline-second-half
  font-family: 'Great Vibes', cursive
  font-size: 3em
  font-weight: normal
  margin: 0
  padding: 0
  text-align: center

.SplashScreen__headline-first-half
  animation: fade-up-and-in 1.6s

.SplashScreen__headline-second-half
  animation: fade-up-and-in 2.2s
