@import 'styles/shared.sass'

.SiteHeader
  align-items: center
  background-color: $pink
  // border: 1px solid red
  border-bottom: 2px solid $gray
  box-sizing: border-box
  display: flex
  justify-content: center
  padding: 10px
  +from($breakpoint-mobile-large)
    justify-content: flex-start

.SiteHeader__branding
  // border: 1px solid green
  display: flex
  align-items: center
  justify-content: space-between

.SiteHeader__clock-logo
  // border: 1px solid blue
  width: 40px
  margin-right: 10px

.SiteHeader__headline
  // border: 1px solid orange
  color: white
  font-family: 'Great Vibes', cursive
  font-size: 1.5em
  margin-top: 3px
  text-align: center
  +from($breakpoint-mobile-large)
    font-size: 2em
    margin-top: 7px
